<div class = "container px-5 px-sm-0">
 <div class = "row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

<div class="col-md-8 offset-md-1">
  <h1>Book detail</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@find_book.user) do %>
           <%= image_tag @find_book.user.get_profile_image(100,100) %>
           <p><%= @user.name %></p>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@find_book) do %>
            <% @find_book.title %>
          <% end %>
        </td>
        <td>
          <%= @find_book.body %>
        </td>
        <td>
            <% if @find_book.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@find_book), method: :delete do %>
                <i class="fa-solid fa-heart"></i><%= @find_book.favorites.count %>
              <% end %>
              <% else %>
              <%= link_to book_favorites_path(@find_book), method: :post do %>
                <i class="fa-regular fa-heart"></i><%= @find_book.favorites.count %>
              <% end %>
            <% end %>
        </td>
        <td>コメント数: <%= @find_book.book_comments.count %></td>
        <td>
          <% if @user == current_user %>
            <%= link_to 'Edit', edit_book_path(@find_book), class: "btn btn-success" %>
          <% end %>
        </td>
        <td>
          <% if @user == current_user %>
            <%= link_to 'Destroy', book_path(@find_book), class: "btn btn-warning", method: :delete,  "data-confirm" => "Are you sure?" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
  <% @find_book.book_comments.each do |book_comment| %>
    <tr>
      <td><%= link_to(book_comment.user) do %>
        <%= image_tag book_comment.user.get_profile_image(100,100), size:"60x60" %><br>
        <%= book_comment.user.name %>
        <% end %>
      </td>
      <td><%= book_comment.comment %></td>
        <% if book_comment.user == current_user %>
          <td><%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-sm btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
</table>
<!--  <div>-->
  <%= form_with model: [@find_book, @book_comment] do |f| %>
    <%= f.text_area :comment, rows: '8', placeholder: "コメントをここに" %></br>
    <%= f.submit "送信する" %>
  <% end %>
<!--</div>-->
<%#= form_with(model: [book, book_comment], local: true) do |f| %>
  <%#= f.text_area :comment, class: 'form-control mb-2' %>
  <%#= f.submit '送信', class: 'btn btn-sm btn-primary' %>
<%# end %>
</div>
</div>
</div>

